@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}


<div class="pt-1 pb-2">
    <a class="text-secondary mb-1 btn btn-outline-light pl-0" style="border-color: transparent; background: transparent; " asp-controller="SensoriamentoAtual" asp-action="Index"><i class="fa-solid fa-angle-left fa-1x mr-2"></i>Voltar</a>
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-primary pt-1">Dashboard</h4>
        </div>
        <div class="col-md-6">
            <p class="text-primary mb-2 float-end">@Model.Endereco <i class="fa-solid fa-location-dot fa-1x mr-2"></i></p>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-vazao-agua p-3 mb-2">
            <div class="mb-3">
               Vazão Atual
            </div>
            <p id="vazao-agua-atual">
                @Model.SensoriamentoAtual.VazaoDaAgua m/s
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-altura-agua p-3 mb-2">
            <div class="mb-3">
               Altura da Água
            </div>
            <p id="altura-agua-atual">
                @Model.SensoriamentoAtual.AlturaAgua mca
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-nivel-pluviosidade p-3 mb-2">
            <div class="mb-3">
                Nivel de Pluviosidade
            </div>
            <p id="nivel-pluviosidade-atual">
                @Model.SensoriamentoAtual.NivelPluviosidade kg/m³
            </p>
        </div>
    </div>

</div>



<script>
    let tipoRisco = @((int)Model.SensoriamentoAtual.TipoRisco);
    function AtualizaSensoriamentoAtual() {
        $.ajax({
            type: 'GET',
            url: "/SensoriamentoAtual/ObtemSensoriamentoAtual",
            data: { pontoDeSensoriamentoId: @Model.SensoriamentoAtual.PontoDeSensoriamentoId },
            success: function (result) {
                if (result.notFound) {
                    window.location.href = "/SensoriamentoAtual/"
                }
                $('#vazao-agua-atual').html(`${result.data.vazaoDaAgua} m/s`.replace('.', ','));
                $('#altura-agua-atual').html(`${result.data.alturaAgua} mca`.replace('.', ','));
                $('#nivel-pluviosidade-atual').html(`${result.data.nivelPluviosidade} kg/m³`.replace('.', ','));
                if (result.data.tipoRisco !== tipoRisco) {
                    DisparaNotificacao(result.data.tipoRisco);
                    tipoRisco = result.data.tipoRisco;
                }

            }
        })
    }

    function DisparaNotificacao(tipoRisco) {
        if (tipoRisco !== 0) {
            if (tipoRisco === 1) {
                $("#baixo-risco-alert-sensor-atual").fadeTo(8000, 500).slideUp(500, function () {
                    $("#baixo-risco-alert-sensor-atual").slideUp(500);
                });
            }
            else if (tipoRisco === 2) {
                $("#medio-risco-alert-sensor-atual").fadeTo(8000, 500).slideUp(500, function () {
                    $("#medio-risco-alert-sensor-atual").slideUp(500);
                });
            }
            else if (tipoRisco === 3) {
                $("#alto-risco-alert-sensor-atual").fadeTo(8000, 500).slideUp(500, function () {
                    $("#alto-risco-alert-sensor-atual").slideUp(500);
                });
            }
        }
    }

    setInterval(AtualizaSensoriamentoAtual, 10000);
</script>